* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

*.php linguist-language=PHP

*.blade.php linguist-language=HTML
git checkout main
public/js/* linguist-vendored
public/css/* linguist-vendored
storage/* linguist-documentation
